@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, input, button {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a, button, .btn, .btn-nav {
    text-decoration: none;
    transition: .2s;
}

a:hover, button:hover, .btn:hover, .btn-nav:hover {
    transition: .2s;
}

a:hover {
    opacity: .6;
}


.container {
    width: 900px;
    margin: 0 auto;
}

main {
    margin-top: 20px;
}

main h1 {
    margin-bottom: 10px;
}

.bb {
    padding: 10px 0;
}

.bb + .bb {
    border-top: 1px solid #cccccc;
}

.bb-table {
    width: 100%;
}

.bb-table tr:nth-child(even) {
    background: #e9eeff;
}

.bb-table td:first-child {
    padding-left: 6px;
    padding-right: 16px;
}

.bb-table td {
    padding: 6px 0px 6px 6px;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border: 0;
    border-radius: 4px;
    background: #1d53ff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    background: #000000;
    color: #ffffff;
}

.invalid-feedback {
    color: #ff1f1f;
}
